/* ШРИФТ DRUK WIDE CYR SUPER - С КИРИЛЛИЦЕЙ */
@font-face {
  font-family: 'DrukWideCyr-Super';
  src: url('/fonts/drukwidecyr-super.woff2') format('woff2'),
       url('/fonts/drukwidecyr-super.woff') format('woff'),
       url('/fonts/drukwidecyr-super.ttf') format('truetype'),
       url('/fonts/drukwidecyr-super.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ШРИФТ DRUK WIDE SUPER */
@font-face {
  font-family: 'Druk Wide Super';
  src: url('/fonts/druk-wide-super.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ШРИФТ HORIZON */
@font-face {
  font-family: 'Horizon';
  src: url('/fonts/horizon.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F, U+00A0-00FF, U+0100-017F, U+0400-04FF, U+0500-052F, U+2DE0-2DFF, U+A640-A69F;
}
